:root {
  /* Base colors */
  --bg-main: #141519;
  --bg-sidebar: #1c1d22;
  --bg-surface: #23252b;
  --bg-selected: #2d3139;

  /* Action */
  --accent-primary: #00e676;
  --accent-secondary: #00b0ff;

  /* Typography */
  --text-primary: #ffffff;
  --text-secondary: #8a8f98;
  --text-dark: #141519;
  --text-masked: #414652;

  /* Vault states */
  --status-locked: #ff5252;
  --status-unlocked: #00e676;
  --status-unsaved: #ff9100;
}
html,
body,
#root {
  background-color: var(--bg-main);
  color: var(--text-primary);
}
.app {
  display: grid;
  grid-template-columns: 200px 300px 1fr;
  height: 100vh;
  background-color: var(--bg-main);
  color: var(--text-primary);
}
.create-entry-page {
}
.create-vault-page {
}
.edit-group-page {
}
.vault-page {
}
.create-group-page {
}
.entry-create {
}
.entry-list {
}
.delete-confirmation {
}
.entry-edit {
}
.sidebar {
}
.home {
}
